* {
  box-sizing: border-box;
  margin: 0;
}

body {
  padding: 1.5rem;
  background-color: #faebd7;
}

header {
  color: #2f4f4f;
  margin-bottom: 2rem;
}

article {
  background-color: #8fbc8f;
  color: #282e2e;
  font-family: Arial, Helvetica, sans-serif;
  width: 35rem;
  padding: 1rem;
  margin-bottom: 1.5rem;
  border-radius: 10px;
}

.furniture-name,
.furniture-details,
.furniture-price {
  margin-bottom: 0.8rem;
}

.furniture-name {
  color: #0f383e;
}

.furniture-price {
  color: #494403;
  font-weight: 700;
  font-size: 1.5rem;
}

.furniture-price-original {
  color: #000000;
  font-weight: 400;
  font-size: 1rem;
}

.add-to-cart-btn {
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  background-color: #fafad2;
  color: #28774a;
  border: none;
  width: 33rem;
  padding: 0.8rem;
  border-radius: 6px;
  cursor: pointer;
}

.add-to-cart-btn:hover {
  opacity: 0.8;
  transition: opacity 150ms;
}
